body {
	/*font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;*/
	font-family: 'Lato';
}
td{
	text-align: center;
	width: 150px;
}

th{
	text-align: center;
}
.form_jadwal_table td{
    cursor:pointer;
    text-align:center;
}

.form_jadwal_table td:hover{
    background: #88BCD8;
    -moz-transition: all 0.16s ease-out;
    -webkit-transition: all 0.16s ease-out;
    -ms-transition: all 0.16s ease-out;
}

.form_jadwal_table td:active{
    background: #D9EDF7; 
}

a{
    width: 100px;
}
