body {
  /*font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;*/
  font-family: 'Lato';
  padding-top: 60px;	
}

.custom-flat {
	border-radius:0;
}
.label-rounded {
  border: 1px solid #CCCCCC;box-shadow: 0 0 5px #F5F5F5;border-radius: 20px;padding: 10px 11px;
}
.alert_manual {
    padding: 20px;
    background-color: #F2DEDE;
    color: white;
}
.closebtn {
    margin-left: 15px;
    color: #A52D25;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
