body {
	/*font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;*/
	font-family: 'Lato';
}
td  {
	width: 150px;
	text-align: center;
}
th {
	text-align: center;
}
h2 {
	text-align: center;
}
